# Игнорировать все файлы в каталоге tmp/
tmp/

# Исключить все файлы с именем и  расширением Thumbs.db
Thumbs.db

# Исключить все файлы с расширением .DS_Store
 
**/.DS_Store
*.DS_Store
.DS_Store

# Исключить все файлы заканчивающиеся суффиксами _old
*_old.*


# Исключить все файлы заканчивающиеся суффиксами _old
*.*_old*

# Исключить все файлы заканчивающиеся суффиксами _backup
*_backup.*

